{% load static %}

<div class="footer">
    <div class="footer-static-top">
        <div class="container">
            <div class="footer-shipping pt-60 pb-55 pb-xs-25">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="{% static '' %}images/shipping-icon/1.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-text">
                                <h2>Giao hàng miễn phí</h2>
                                <p>Đổi trả miễn phí và xem sản phẩm trước khi thanh toán.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="{% static '' %}images/shipping-icon/2.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-text">
                                <h2>Thanh toán an toàn</h2>
                                <p>Thanh toán bằng các phương thức thanh toán an toàn và phổ biến nhất thế giới.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="{% static '' %}images/shipping-icon/3.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-text">
                                <h2>Sản phẩm chính hãng</h2>
                                <p>Đảm bảo sản phẩm chính hãng 100%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                        <div class="li-shipping-inner-box">
                            <div class="shipping-icon">
                                <img src="{% static '' %}images/shipping-icon/4.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-text">
                                <h2>Hỗ trợ 24/7</h2>
                                <p>Hỗ trợ nhanh tận tình với tất cả khách hàng</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-static-middle">
        <div class="container">
            <div class="footer-logo-wrap pt-50 pb-35">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-logo">
                            <img src="{% static '' %}images/icon/logo.svg" alt="Alolink" style="max-width: 300px;">
                        </div>
                        <br><br>
                        <ul class="des">
                            <li>
                                <span>Địa chỉ: </span> Học viện Công nghệ Bưu chính Viễn thông
                            </li>
                            <li>
                                <span>Số điện thoại:</span>
                                <a href="#">(+84) 123 321 345</a>
                            </li>
                            <li>
                                <span>Email:</span>
                                <a href="mailto://info@yourdomain.com">info@yourdomain.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer-block">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.304942338442!2d105.7856335142444!3d20.980409994804536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e0!3m2!1sen!2s!4v1651083845339!5m2!1sen!2s" width="400" height="300" style="border:0; max-height: 200px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4 float-right">
                        <div class="footer-block">
                            <h3 class="footer-block-title">Theo dõi</h3>
                            <ul class="social-link">
                                <li class="twitter">
                                    <a href="https://twitter.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="https://www.plus.google.com/discover"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/"
                                       data-toggle="tooltip"
                                       target="_blank"
                                       title="Instagram">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static '' %}js/vendor/jquery-1.12.4.min.js"></script>
<script src="{% static '' %}js/vendor/popper.min.js"></script>
<script src="{% static '' %}js/bootstrap.min.js"></script>
<script src="{% static '' %}js/ajax-mail.js"></script>
<script src="{% static '' %}js/jquery.meanmenu.min.js"></script>
<script src="{% static '' %}js/wow.min.js"></script>
<script src="{% static '' %}js/slick.min.js"></script>
<script src="{% static '' %}js/owl.carousel.min.js"></script>
<script src="{% static '' %}js/jquery.magnific-popup.min.js"></script>
<script src="{% static '' %}js/isotope.pkgd.min.js"></script>
<script src="{% static '' %}js/imagesloaded.pkgd.min.js"></script>
<script src="{% static '' %}js/jquery.mixitup.min.js"></script>
<script src="{% static '' %}js/jquery.countdown.min.js"></script>
<script src="{% static '' %}js/jquery.counterup.min.js"></script>
<script src="{% static '' %}js/waypoints.min.js"></script>
<script src="{% static '' %}js/jquery.barrating.min.js"></script>
<script src="{% static '' %}js/jquery-ui.min.js"></script>
<script src="{% static '' %}js/venobox.min.js"></script>
<script src="{% static '' %}js/jquery.nice-select.min.js"></script>
<script src="{% static '' %}js/scrollUp.min.js"></script>
<script src="{% static '' %}js/main.js"></script>

</body>
</html>
